<form method="post" action="/store" enctype="multipart/form-data">
    
    <h1>Mertiendo datos :v</h1>
    ID:
    <input type="text" name="ids" id="ids">
    <br>
    Nombre:
    <input type="text" name="nombre" id="nombre">
    <br>
    Codigo:
    <input type="text" name="code" id="code">
    <br>
    Distrito:
    <input type="text" name="district" id="district">
    <br>
    Poblacion:
    <input type="number" name="popul" id="popul">
    <br><br>
    <input type="submit" value="Add">
    
</form>