<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nucleo-icons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blk-design-system.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='demo/demo.css') }}" />
    <title>Document</title>
</head>
<body>
    Editando

{% for city in citys %}

{{city[0] }}
{{city[1] }}
{{city[2] }}
{{city[3] }}
{{city[4] }}

{% endfor %}
</body>
</html>