<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nucleo-icons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blk-design-system.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='demo/demo.css') }}" />
    <title>Document</title>
</head>
<body>
    <h1>Editando</h1>

{% for city in citys %}



<h1>{{city[0] }}</h1>

<form method="post" action="/update" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    
    <h1>Metiendo datos :v</h1>
    ID:
    <input type="text" value="{{city[0] }}" name="iden" id="iden">
    <br>
    Nombre:
    <input type="text" value="{{city[1] }}" name="nombre" id="nombre">
    <br>
    Codigo:
    <input type="text" value="{{city[2] }}" name="code" id="code">
    <br>
    Distrito:
    <input type="text" value="{{city[3] }}" name="district" id="district">
    <br>
    Poblacion:
    <input type="number" value="{{city[4] }}" name="popul" id="popul">
    <br><br>
    <input type="submit" value="Add">
    
</form>

{% endfor %}
</body>
</html>