<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nucleo-icons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blk-design-system.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='demo/demo.css') }}" />
    <script src='main.js'></script>
</head>
<body>

    <h1>"Ciudades n.n"</h1>

    <table class="table table-dark">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>CountryCode</th>
                <th>District</th>
                <th>Pupulation</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for city in citys %}
             <tr>
                <td>{{city[0] }}</td>
                <td>{{city[1] }}</td>
                <td>{{city[2] }}</td>
                <td>{{city[3] }}</td>
                <th>{{city[4] }}</th>
                <th><a href="/edit/{{city[0]}}" class>Edit</a>
                     |
                    <a href="/destroy/{{city[0]}}">Delete</a>
                </th>
            </tr>   
            {% endfor %}
            
        </tbody>
    </table>
    
</body>
</html>